* {
    margin: 0;
    padding: 0;
}

/**
 * Initial version from http://www.mycelly.com/css_templates/css_template_05.htm
 */
/*  body und schrift definitionen */
html {
    padding: 0px;
    margin: 0px;
}

a:link {
    color: #B52C07;
}

a:visited {
    color: #600;
}

a:hover, a:active {
    color: #fff;
    background-color: #B52C07;
}

body {
    background-color: #e1ddd9;
    font-size: 12px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    color: #564b47;
    padding: 0px;
    margin: 0px;
}

p, h2, pre {
    margin: 0px;
    padding: 5px 20px 5px 20px;
}

a {
    color: #ff66cc;
    font-size: 11px;
    background-color: transparent;
    text-decoration: none;
}

pre {
    color: #564b47;
    font-size: 11px;
    background-color: transparent;
    font-family: Courier, Monaco, Monospace;
}

.alignright {
    margin-top: 0;
    text-align: right;
    font-size: 10px;
}

h2 {
    font-size: 14px;
    padding-top: 10px;
    text-transform: uppercase;
    color: #564b47;
    background-color: transparent;
}

h1 {
    font-size: 11px;
    text-transform: uppercase;
    text-align: right;
    color: #564b47;
    background-color: #90897a;
    padding: 5px 15px;
    margin: 0px
}

ul li a {
    display: block;
    text-decoration: none;
}

strong {
    font-size: 13px;
}

#header .nav {
    background-color: #9FA41D;
}

.nav li a {
    text-decoration: none;
}

#header .nav li a {
    color: #272900;
    padding: 5px 10px;
}

#header .nav li.active a {
    background-color: #272900;
    color: #FFFFFF;
}

#header .nav li a:hover {
    background-color: #272900;
    color: #FFFFFF;
}

#header .nav ul {
    border-left: 1px solid #C4C769;
    list-style-type: none;
    margin: 0 0 0 20px;
    padding: 0;
    overflow: auto;
}

#header .nav ul li {
    border-right: 1px solid #C4C769;
    float: left;
    display: inline;
    padding: 0px;
}

/*  positioning-layers statisch und absolut */
#menu {
    float: left;
    width: 190px;
    color: #564b47;
    margin: 0px;
    padding: 0px;
    background-color: green;
}

#menu .nav li a {
    color: #272900;
    padding: 2px 10px;
}

#menu .nav li.active a {
    background-color: #272900;
    color: #FFFFFF;
}

#menu .nav li a:hover {
    background-color: #272900;
    color: #FFFFFF;
}

#menu .nav ul {
    list-style-type: none;
    margin: 0 0 0 5px;
    padding: 0;
    overflow: auto;
}

#menu .nav ul li {
    display: inline;
    padding: 0px;
}

#content {
    margin: 0px 190px 0px 190px;
    border-left: 2px solid #564b47;
    border-right: 2px solid #564b47;
    border-bottom: 2px solid #564b47;
    padding: 0px;
    background-color: #ffffff;
}

#sidebar {
    float: right;
    /*
     position: absolute;
     right: 0px;
     */
    width: 190px;
    color: #564b47;
    background-color: yellow;
    margin: 0px;
    padding: 0px;
}

/*  positioning-layers statisch und absolut */
#footer {
    clear: both;
    background-color: lime;
}
